.redactor-box {
    margin-bottom: 0;
}

.redactor-toolbar {
    box-shadow: none;
}

.redactor-dropdown a:hover,
.redactor-toolbar li a:hover,
#redactor-modal footer button.redactor-modal-action-btn,
#redactor-modal footer button.redactor-modal-action-btn:hover {
    background-color: #2e2e2e;
}

.redactor-box textarea {
    padding: 5px;
    color: #333333;
    background-color: #efefef;
}
