<div class="template hidden">

    <div class="upload">
        <div class="progress progress-upload" data-progress="file">
            <div class="progress-bar progress-bar-info" data-dz-uploadprogress>

                <img src="" data-dz-thumbnail/>

                <span data-dz-name></span>

            </div>
        </div>
    </div>

</div>
